@charset "UTF-8";

body{
	color: #333;
}
li{
	list-style: none;
}
button{
    padding: 0;	
    background: none;
    border: 0;
}
button:focus{
    border: none;
    outline:none;
}

.header{
	border-bottom: 1px solid #e9e9e9;
}
.header:after{
	content:"";
	display: block;
	clear: both;
}
.header .main-tab{
	float: left;
	margin-left: 90px;
    line-height: 76px;	
}
.header .main-tab a{
	margin-left: 30px;
	color: #111;
	font-size: 16px;
	font-weight: bold;
}
.header .main-tab a img{
	display:inline-block;
	margin-right: 10px;
}
.header .main-tab a:first-child img{
	width: 26px;
}
.header .main-tab a:last-child img{
	width: 24px;
}
.header .right-menu{
	position: absolute;
	right: 0;
    max-width: fit-content;	
}
.modal{
	display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.75);
}
.modal.on{
	display: block;
}
.modal .modal-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
}
.modal-popup > div{
	posiiton: relative;
}
.modal-popup-txt{	
	font-size: 32px;
}
.searchLoca-modal-popup{
	width: 824px;
}
.search-input{
    display: block;	
    width: 100%;
    padding: 13px 15px;
    margin: 20px 0;
    background: #e9e9e9;
    border: 0;
    border-radius: 5px;    
}
.searchLoca-list{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.searchLoca-list li{
    padding: 0 10px;
	font-size: 18px;
}
.search-btn-box{
	margin-top: 30px;
	text-align: center;
	border-radius: 5px;
}
.search-btn{
    padding: 15px 80px;	
	background: #FFAD32;
}

.close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
}

.room-list{
	width: 100%;
	margin-bottom: 35px;
}
.room-list a{
	position: relative;
    display: block;
    color: #333;
}
.room-list a:hover{
	color: #333;
}
.room-list-img{
	width:100%;
	height: 250px;
}
.room-list-img img{
    display: inline-block;
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.room-list-txt{
	padding: 15px 0 25px;
}
.room-list-txt:after{
	content:"";
	display: block;
	clear: both;	
}
.room-list-txt-t{
	float: left;
    font-size: 15px;	
}
.room-list-txt-t span:last-child{
    font-size: 12px;	
	color: #555;
}
.room-list-txt-p{
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
}

.login{
    width: 500px;
    margin: 80px auto;	
}
.login a{
	font-weight: bold;
	color: #333;
}
.login a:hover{
	color: #333;
}
.login-tab{
	margin-bottom: 35px;
    border-radius: 5px;
    overflow: hidden;
}
.login-tab:after{
	content: "";
	display: block;
	clear: both;
}
.login-tab li{
	float: left;
	width: 50%;
	text-align: center;
}
.login-tab li button{
	display: inline-block;
	width: 100%;
	padding: 13px 0;
	background: #E9E9E9;
	color: #999;
}
.login-tab li.on button{
	background: #FFAD32;
	color: #333;	
}
.login-container input[type="text"],
.login-container input[type="password"]{
    width: 100%;
    padding: 15px 25px;
    margin-bottom: 10px;
    border: 1px solid #E9E9E9;
    border-radius: 5px;    
}
.login-btn input{
	width: 100%;
    padding: 13px 0;
    background: #FFAD32;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border: 0;
    border-radius: 5px;
}
.login-remember{
    margin: 5px 0 10px;	
	font-size: 14px;
}
.login-remember:after{
	content: "";
	display: block;
	clear: both;
}
.login-remember a{
	float: right;
}
.login-join{
    margin-top: 30px;	
	text-align: center;
}




footer{
	background: #F5F5F5;
	padding: 30px 0;
	font-size: 14px;
	color: #555;	
}
footer .footer-logo{
	display: inline-block;
	width: 165px;
}
footer .right-menu{
	float: right;
}
footer .right-menu li{
	display: inline-block;
}
footer .right-menu li a{
	margin-right: 10px;
	color: #555;
}
footer .right-menu li:last-child a{
	font-weight: bold;
}
footer div{
	margin-top: 20px;
	line-height: 2;
}
footer span{
	color: #888;
	font-size: 13px;
}