<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.dragonfly.BookinglistMapper">

	<!-- 예약상황전체보기 -->
	<select id="bookingListAll"
		resultType="com.house.dragonfly.domain.BOOKING">
		select * from booking
	</select>

	<!-- 예약상황 회원별 -->
	<select id="bookingListSelect"
		resultType="com.house.dragonfly.domain.BOOKING">
		select * from booking
		where member_email = #{email};
	</select>

	<!-- 예약상황 상세보기 & 취소목록 상세보기 -->
	<select id="bookingListDetails"
		resultType="com.house.dragonfly.domain.BOOKING">
		select * from booking
		where bo_num = #{bo_num}
	</select>

	<!-- 예약취소만 보기 -->
	<select id="bookingCancleSelect"
		resultType="com.house.dragonfly.domain.BOOKING">
		select * from booking
		where member_email =#{email.email} and
		bo_status like '예약취소%';
	</select>

	<!-- 예약추가 -->
	<insert id="bookingInsert"
		parameterType="com.house.dragonfly.domain.BOOKING">
		insert into booking (bo_checkin, bo_checkout, bo_status,
		bo_paymethod, bo_price, member_email, room_ro_num)
		values
		(#{bo_checkin}, #{bo_checkout}, '예약전', #{bo_paymethod}, #{bo_price},
		#{member_email}, #{room_ro_num});
	</insert>

	<!-- 결제하면 바로바뀌도록 -->
	<update id="bookingpayUpdate"
		parameterType="com.house.dragonfly.domain.PAYMENT">
		update booking set
		bo_status='예약확인요청',
		bo_paymethod =
		#{pay_method}
		where
		bo_num =#{booking_bo_num};
	</update>

	<!-- 예약 취소요청 & 결제내역 결제환불요청으로 변경 -->
	<update id="bookingCancleUpdate" parameterType="int">
		update booking,
		payment set
		booking.bo_status = '예약취소요청', payment.pay_status = '결제환불요청'
		where booking.bo_num = #{bo_num} and payment.booking_bo_num =
		#{bo_num};
	</update>

    <select id="selectBookingById" parameterType="int" resultType="com.house.dragonfly.domain.BOOKING">
        SELECT * FROM booking WHERE bo_num = #{bo_num}
    </select>

    <update id="updateBookingStatus" parameterType="map">
        UPDATE booking SET status = #{status} WHERE bo_num = #{bo_num}
    </update>




</mapper>