<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.dragonfly.FacilityMapper">

    <!-- 전체 시설물 조회 -->
    <select id="fac_listAll" resultType="com.house.dragonfly.domain.FacilityVO">
        select * from facility
    </select>

    <!-- 단일 시설물 조회 -->
    <select id="fac_selectOne" parameterType="int" resultType="com.house.dragonfly.domain.FacilityVO">
       select * from  facility 
       where fac_id = #{fac_id}
    </select>

    <!-- 시설 추가 -->
    <insert id="fac_insert" >  
        insert into facility 
            (fac_id, fac_name, fac_description, pension_pen_addr)
        values 
            (#{fac_id}, #{fac_name}, #{fac_description}, #{pension_pen_addr})
    </insert>

    <!-- 시설 정보 수정 -->
    <update id="fac_update" >
        update facility set
            fac_name = #{fac_name}, 
            fac_description = #{fac_description}, 
            pension_pen_addr = #{pension_pen_addr}
        where fac_id = #{fac_id}		    
    </update>

    <!-- 시설 삭제 -->
    <delete id="fac_delete" >
        delete from facility where fac_id = #{fac_id}
    </delete>

</mapper>
