<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.dragonfly.PaymentMapper">

	<!-- 결제 상세보기_bo_num로 -->
	<select id="payDetails_bo_num"
		resultType="com.house.dragonfly.domain.PAYMENT">
		select * from payment
		where booking_bo_num = #{bo_num}
	</select>

	<!-- 결제 상세보기_pay_id로 -->
	<select id="payDetails_pay_id"
		resultType="com.house.dragonfly.domain.PAYMENT">
		select * from payment
		where pay_id = #{pay_id}
	</select>

	<!-- 결제하기_update_booking하자마자 결제페이지를 만들기에 -->
	<update id="payInsert"
		parameterType="com.house.dragonfly.domain.PAYMENT">
		update payment, booking set
		payment.pay_method =#{pay_method},
		payment.card_card_number= #{card_card_number},
		payment.pay_name = #{pay_name},
		payment.pay_date = sysdate(),
		payment.pay_status='결제확인요청',
		booking.bo_status='예약확인요청',
		booking.bo_paymethod = #{pay_method}
		where payment.pay_id = #{pay_id}
		and
		booking.bo_num =#{booking_bo_num};
	</update>

	<!-- 결제 수정_카드일때 -->
	<update id="payUpdateCard"
		parameterType="com.house.dragonfly.domain.PAYMENT">
		update payment, booking set
		payment.pay_method='신용카드',
		payment.pay_name = null,
		payment.card_card_number = #{card_card_number},
		payment.pay_date=sysdate(),
		booking.bo_paymethod='신용카드'
		where
		payment.pay_id = #{pay_id} and booking.bo_num=payment.booking_bo_num;
	</update>

	<!-- 결제 수정_현금일때 -->
	<update id="payUpdateCash"
		parameterType="com.house.dragonfly.domain.PAYMENT">
		update payment, booking set
		payment.pay_method ='계좌이체',
		payment.pay_name=#{pay_name},
		payment.card_card_number=null,
		payment.pay_date=sysdate(),
		booking.bo_paymethod='계좌이체'
		where
		payment.pay_id =#{pay_id} and booking.bo_num=payment.booking_bo_num;
	</update>


</mapper>