<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.ReviewMapper">

	<!-- 리뷰전체보기 -->
	<select id="reviewAll" resultType="kr.co.dong.domain.REVIEW">
	select * from review
	</select>
	
	<!-- 리뷰 상세보기 -->
	<select id="reviewDetails" resultType="kr.co.dong.domain.REVIEW">
	select * from review 
	where rev_num = #{rev_num}
	</select>
	
	<!-- 리뷰 회원별 보기 -->
	<select id="reviewSelect" resultType="kr.co.dong.domain.REVIEW">
	select * from review 
	where member_email = #{member_email}
	</select>
	
	<!-- 리뷰 추가 -->
	<insert id="reviewInsert">
		insert into review(`booking_bo_num`, `PICSEQ_pic_num`, `rev_title`, `rev_content`, `rev_date`,`member_email`) values
		(#{booking_bo_num}, #{PICSEQ_pic_num}, #{rev_title}, #{rev_content}, sysdate(), #{member_email})
	</insert>
	
	<!-- 리뷰 수정 -->
	<update id="reviewUpdate" parameterType="kr.co.dong.domain.REVIEW">
		update review set
		rev_title = #{rev_title}, rev_content=#{rev_content}
		where rev_num = #{rev_num}
	</update>
	
	<!-- 리뷰 삭제 -->
	<delete id="reviewDelete">
	 delete from review 
	 where rev_num = #{rev_num}
	</delete>

</mapper>