<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.WishMapper">

	<!-- 찜 회원별 -->
	<select id="mywishSelect">
		select * from wishlist 
		where member_email = #{member_email}
	</select>
	<!-- 찜 추가-->
	<insert id="mywishInsert">
		insert into wishlist values
		 (#{member_email}, #{room_ro_num})
	</insert>
	<!-- 찜 삭제 -->
	<delete id="mywishDelete">
		delete from wishlist 
		where room_ro_num = #{room_ro_num}
	</delete>
</mapper>